# Flask==1.1.1
# gunicorn==19.9.0
# itsdangerous==1.1.0
# Jinja2==2.10.1
# MarkupSafe==1.1.1
# Werkzeug==2.2.3
# numpy>=1.9.2
# scipy>=0.15.1
# scikit-learn>=0.18
# matplotlib>=1.4.3
# pandas>=0.19
# click==7.1.2
# cycler==0.10.0
Flask==1.1.1
Flask-Material==0.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
numpy==1.19.0
opencv-python==4.2.0.34
pandas==1.0.5
Pillow==7.1.2
pyparsing==2.4.7
pytesseract==0.3.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
threadpoolctl==2.1.0
Werkzeug==2.2.3